<div class="container pb-3 my-2">
    <div class="row font-weight-bold bg-info text-white p-1 mb-1 align-items-center">
        <div class="col col-sm-1">No</div>
        <div class="col col-sm-4">Kelime</div>
        <div class="col col-sm-4">Anlamı</div>
        <div class="col col-sm-3">
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Grup Seç
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="col btn btn-primary my-1" (click)="GetLevelWords(1)">A1</button>
                    <button class="col btn btn-primary my-1" (click)="GetLevelWords(2)">A2</button>
                    <button class="col btn btn-primary my-1" (click)="GetLevelWords(3)">B1</button>
                    <button class="col btn btn-primary my-1" (click)="GetLevelWords(4)">B2</button>
                    <button class="col btn btn-primary my-1" (click)="GetLevelWords(5)">C1</button>
                    <button class="col btn btn-primary my-1" (click)="GetLevelWords(6)">Hepsi</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row border bordered-info align-middle" *ngFor="let word of learnedWordsInAGroup; let i=index">
        <div class="col-sm-1 my-auto font-weight-bold">
            {{i+1}}.{{word.id}}
        </div>
        <div class="col col-sm-4 my-auto">{{word.word}}</div>
        <div class="col col-sm-4 my-auto">{{word.vocabularyDetail[0].sentenceMeaning}}</div>
        <div class="col col-sm-3 my-auto text-center">
            <img [src]="(word.showCount>i)?item[1]:item[0]" [ngStyle]="StarsCSS()" *ngFor="let item of StarsArray();let i=index">
        </div>
    </div>
    <div class="row bg-info fixed-bottom p-2 mx-2 d-flex flex-row-reverse rounded">
        <button class="col-2 btn btn-primary float-right r-0" routerLink="/flashcards">Back</button>
    </div>
</div>