<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand font-weight-bold" href="#">Wordbox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="app-home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="dictionary">Dictionary</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="bigDictionary">BigDictionary</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="motherpage">Exercises</a>
            </li>
        </ul>
    </div>
</nav>