<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 text-center">
            <button class="btn btn-info" routerLink="/flashcards">Learn With Flash Cards</button>
        </div>
        <div class="col-sm-6 text-center">
            <button class="btn btn-info">Exercises Type-2</button>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-6 text-center">
            <button class="btn btn-info">Exercises Type-3</button>
        </div>
        <div class="col-sm-6 text-center">
            <button class="btn btn-info">Exercises Type-4</button>
        </div>
    </div>
</div>