<div class="row justify-content-center">
    <div class="tp-box p-3" [ngClass]="DynamicCSS()" (click)="toggleFlip()" [@flipState]="flip">
        <div class="tp-box__side tp-box__front">
            {{randomWord.word}}
            <div class="fixed-bottom">
                <button class="btn btn-primary fixed-bottom" (click)="ProduceRandomWord($event)">button</button>
                <button class="btn btn-primary float-right" (click)="ProduceRandomWord($event)">button2222</button>
            </div>

        </div>
        <div class="tp-box__side tp-box__back">
            {{randomWord.vocabularyDetail[0]['sentenceMeaning']}}
        </div>
    </div>
</div>