<div class="container my-2">
    <div class="row">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" #word class="form-control" placeholder="Kelime">
            </div>
            <button type="submit" (click)="ShowTheWord(word.value)" class="btn btn-primary mb-2">Ara</button>
        </form>
    </div>
    <div class="row">
        <div>
            <div class="row">
                <h3></h3>
            </div>
            <div class="row">2</div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="divID" #divID></div>
        </div>
    </div>
</div>