<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" (click)="GetLevelWords(1)" routerLink="/exercisestypes">A1</button>
        </div>
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" (click)="GetLevelWords(2)" routerLink="/exercisestypes">A2</button>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" (click)="GetLevelWords(2)" routerLink="/exercisestypes">B1</button>
        </div>
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" (click)="GetLevelWords(4)" routerLink="/exercisestypes">B2</button>
        </div>
    </div>
    <div class="row my-3 justify-content-center">
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" (click)="GetLevelWords(5)" routerLink="/exercisestypes">C1</button>
        </div>
    </div>
</div>