<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" (click)="GetLevelWords(1)" routerLink="/menu-level">A1</button>
        </div>
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" (click)="GetLevelWords(2)" routerLink="/menu-level">A2</button>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" (click)="GetLevelWords(2)" routerLink="/menu-level">B1</button>
        </div>
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" (click)="GetLevelWords(4)" routerLink="/menu-level">B2</button>
        </div>
    </div>
    <div class="row my-3 justify-content-center">
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" (click)="GetLevelWords(5)" routerLink="/menu-level">C1</button>
        </div>
    </div>
</div>