<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" [routerLink]="['/exercisestypes',1]">A1</button>
        </div>
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" [routerLink]="['/exercisestypes',2]">A2</button>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" [routerLink]="['/exercisestypes',3]">B1</button>
        </div>
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" [routerLink]="['/exercisestypes',4]">B2</button>
        </div>
    </div>
    <div class="row my-3 justify-content-center">
        <div class="col-sm-6 text-center">
            <button [ngClass]="SetMarginButtons()" [routerLink]="['/exercisestypes',5]">C1</button>
        </div>
    </div>
</div>